body {
  margin: 0px;
  padding: 0px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  background-color: #0c0c0e;
  color: #ffffff;
}

.header-container {
  display: flex;
  justify-content: space-between;
  line-height: 30px;
}

.brooklyn {
  font-size: 30px;
  margin: 20px 0px 20px 20px;
  flex: 0 1 50%;
}

.navigation {
  display: flex;
  flex: 0 1 50%;
}
.nav {
  margin-right: 40px;
}
.nav-list {
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
  list-style: none;
  font-size: 20px;
  gap: 30px;
}

.items:hover {
  text-decoration: underline;
  cursor: pointer;
}

.icons {
  margin: 20px 31px 20px 0px;
}

/* .items:nth-child(6){
	margin-left: 10px;
	margin-right: 31px;
	
} */

.welcome {
  background: url('./assets/img/Welcome.png') no-repeat center center;
  height: 600px;
  display: flex;
}

.welcome-brooklyn {
  width: 600px;
  height: 220px;
  background-color: #0c0c0e;
  font-size: 40px;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 220px;
  margin-bottom: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-line {
  text-align: center;
}
.title-about {
  font-size: 40px;
  margin-bottom: 20px;
}
.line-about {
  width: 50px;
  height: 1px;
  color: #0c0c0e;
}

.brooklyn-about {
  font-size: 20px;
  margin-top: 40px;
  text-align: center;
}

.images-items {
  display: flex;
  gap: 25px;
}

.carousel-pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 5px 5px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.carousel1,
.carousel2,
.carousel3 {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #0c0c0e;
  cursor: pointer;
}

.carousel1 {
  background-color: #bb945f;
}
