:root {
  --font-forum: 'Forum';
  --font-inter: 'Inter';
}
body {
  margin: 0px;
  padding: 0px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  background-color: #0c0c0e;
  color: #ffffff;
}

.header-container {
  display: flex;
  justify-content: space-between;
  line-height: 30px;
}

.brooklyn {
  font-size: 30px;
  margin: 20px 0px 20px 20px;
  flex: 0 1 50%;
  font-family: var(--font-forum);
}

.navigation {
  display: flex;
  flex: 0 1 50%;
}
.nav {
  margin-right: 40px;
}
.nav-list {
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
  list-style: none;
  font-size: 20px;
  font-family: var(--font-inter);
  gap: 30px;
}

.items:hover {
  text-decoration: underline;
  cursor: pointer;
}

.icons {
  margin: 20px 31px 20px 0px;
}

/* .items:nth-child(6){
	margin-left: 10px;
	margin-right: 31px;
	
} */

.welcome {
  background: url('./assets/img/Welcome.png') no-repeat center center;
  height: 600px;
  display: flex;
}

.welcome-brooklyn {
  width: 600px;
  height: 220px;
  background-color: #0c0c0e;
  font-size: 40px;
  font-family: var(--font-forum);
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 220px;
  margin-bottom: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-line,
.favorites-line {
  text-align: center;
}
.title-about,
.title-favorites {
  font-size: 40px;
  margin-bottom: 20px;
  font-family: var(--font-forum);
}
.line-about,
.line-favorites {
  width: 50px;
  height: 1px;
  color: #0c0c0e;
}

.brooklyn-about {
  font-size: 20px;
  margin-top: 40px;
  text-align: center;
  font-family: var(--font-inter);
}

.images-items {
  display: flex;
  gap: 25px;
}

.carousel-pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 5px 5px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.carousel1,
.carousel2,
.carousel3 {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #0c0c0e;
  cursor: pointer;
}

.carousel1 {
  background-color: #bb945f;
}

.pick {
  font-size: 20px;
  font-weight: bold;
  margin: 40px 0px 40px 20px;
  font-family: var(--font-inter);
}

.seasons {
  display: flex;
  margin: 40px 0px 0px 10px;
  gap: 90px;
}

.button-winter {
  font-weight: bold;
  font-size: 20px;
  color: #000000;
  cursor: pointer;
  font-family: var(--font-inter);
}
.button-spring,
.button-autumn,
.button-summer {
  font-size: 20px;
  color: #000000;
  cursor: pointer;
  font-family: var(--font-inter);
}

.seasons {
  padding: 5px 5px;
}

.first-book {
  width: 550px;
  height: 555px;
  border: 1px solid #000000;

}

.book-staff{
	margin:15px 0px 0px 20px;	
	line-height: 40px;
	letter-spacing: 2px;	
	display: flex;
	flex-direction: column;
	justify-content:left;
	text-align: left;
	}

.staff-name {
  font-size: 20px;
  color: #000000;
  font-family: var(--font-forum);
}

.staff-line{
	border: 1px solid #BB945F;
	width:79px;
	background-color: #BB945F;
	
}

.book-name{
	font-size: 15px;
	font-family: var(--font-inter);
	font-weight: bold;
line-height: 35px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.book-text{
	width: 355px;
	height: 320px;
	font-size: 15px;
	font-family: var(--font-inter);
	line-height: 40px;
	letter-spacing: 2px;

}


.button-buy{
	width: 75px;
	height: 30px;
	font-size: 10px;
	font-weight: bold;
	font-family: var(--font-inter);
	border:1px solid #0C0C0E;
}

.button-buy:hover{
	background-color: #BB945F;
	border:1px solid #BB945F;
}
